public class Main {
    /**
     * Calculates the n-th Fibonacci number.
     *
     * @param n A positive integer.
     * @return The number of the n-th Fibonacci number.
     */
    public static int fibonacci(int n) {
        if (n <= 1) {
            return n;
        } else {
            return fibonacci(n - 1) + fibonacci(n - 2);
        }
    }
}